.idea/
./chromePopupPage/node_modules/
./chromePopupPage/.vscode/
./chromePopupPage/dist/
localLogs/node_modules/
localLogs/package-lock.json
test/*.csv
test/*.xlsx
test/*.http

localLogs/config/cardBoidMap/
localLogs/config/*.json
localLogs/input/
localLogs/output/
localLogs/backup/
